# ide 
.vscode/
.history/
.idea/
.fleet/

# system
.DS_Store

# binary
g
g.exe
g-git
g-git.exe
build/

# generated manifests
winget/manifests/

# temp file
*.swp

# compress
*.gz

# python
__pycache__/
*.pyc

example/
