# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.22.3

    - name: Build linux 386
      run: CGO_ENABLED=0 GOOS=linux GOARCH=386 go build -v ./...
    - name: Build linux amd64
      run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64   go build
    - name: Build linux arm
      run: CGO_ENABLED=0 GOOS=linux GOARCH=arm     go build
    - name: Build linux arm64
      run: CGO_ENABLED=0 GOOS=linux GOARCH=arm64   go build
    - name: Build darwin amd64
      run: CGO_ENABLED=0 GOOS=darwin GOARCH=amd64  go build
    - name: Build darwin arm64
      run: CGO_ENABLED=0 GOOS=darwin GOARCH=arm64  go build
    - name: Build windows 386
      run: CGO_ENABLED=0 GOOS=windows GOARCH=386   go build
    - name: Build windows amd64
      run: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build
    - name: Build windows arm64
      run: CGO_ENABLED=0 GOOS=windows GOARCH=arm64 go build
    - name: Build windows arm
      run: CGO_ENABLED=0 GOOS=windows GOARCH=arm   go build
